/* styles.css */

/* Add the Roboto font */
body {
    font-family: 'Roboto', sans-serif;
}

/* Styling the navbar */
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.inline-items {
    display: inline-block;
}

.header-title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}

.main-content {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
